* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
}

.header {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
}

.flex-container {
    display: flex;
    flex-wrap: wrap;
    /* este flex wrap me va a permitir que los elementos puedan fluir dentro de la caja y no permanecer en una linea */
    justify-content: space-around;
    align-items: stretch;
    min-height: 100vh;
}

.main {
    padding: 20px;
    text-align: justify;
    margin: 5px;
}

.disco {
    text-align: center;
    padding: 20px;
    border-radius: 8px;
    flex: 1;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    margin: 5px;
}


.disco img {
    max-width: 80%;
    height: auto;
    border-radius: 50%;
    margin-bottom: 10px;
}

.disco ul {
    list-style: none;
    padding: 0;
}

.disco li {
    margin-bottom: 5px;
    color: #000000;
}

.disco h2 {
    margin-bottom: 10px;
    color: #000000;
}

.disco:nth-child(1) {
    background-color: #e2e057;
}

.disco:nth-child(2) {
    background-color: #4f5dda;
}

.disco:nth-child(3) {
    background-color: #fb9898;
}

.disco:nth-child(4) {
    background-color: #5a4549;
}

.disco:nth-child(5) {
    background-color: #6fa37c;
}

/* Este media query hace el diseñp responsive agrupando los elementos del flex-container de forma columna */
@media only screen and (max-width: 384px) {
    .flex-container {
        flex-direction: column;
        align-items: stretch;
    }

    .disco {
        flex: 0 0 100%;
    }
}